<!--The content below is only a placeholder and can be replaced.-->
<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/blog">Add Item</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/about">Cart</a>
  </li>
</ul>
<!--  -->
<hr>
<div class="">
  <router-outlet></router-outlet>
</div>
<!-- <app-shopping-item></app-shopping-item> -->
<!-- <app-template-driven></app-template-driven> -->
<!-- <app-my-new-component></app-my-new-component> -->
<!-- <app-list></app-list> -->